# Ignore Python virtual environments
venv/
__pycache__/
*.pyc
*.pyo

# Ignore datasets and large files
*.csv
*.json
*.png  # Ignore backtesting images

# Ignore Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Ignore logs and temp files
*.log
*.tmp
.DS_Store
